.box{
    height:50px;
    width:50px;
    background-color: #044040;
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    
}
.reset{
    display: flex;
}

.container{
    display: flex;
    margin: 25px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
    background-color: black;
}
.ball {
    background-color: #D92525;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-15px);
}
.red {
    background-color: #591C21;

}
.button {
    background-color: #044040;
    border: 2px solid #D92525;
    color: #F2F2F2;
}